@page
@model HuiNan2020OneClass.Pages.Schools.SchoolTerms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SchoolTerm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">学年</label>
                <input asp-for="SchoolTerm.SchoolYear" class="form-control" />
                <span asp-validation-for="SchoolTerm.SchoolYear" class="text-danger"></span>
                <a class="text-danger">@Model.ErrMsg</a>
            </div>
            <div class="form-group">
                <label class="control-label">学期</label>
                <select asp-for="SchoolTerm.Semester.ID" class="form-control" asp-items="ViewBag.SemesterID"></select>
                <span asp-validation-for="SchoolTerm.Semester.ID" class="text-danger"></span>
            </div>           
            
            <input type="hidden" asp-for="SchoolTerm.ID" />          


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
