@page
@model HuiNan2020OneClass.Pages.Schools.SchoolTerms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                学年
            </th>
            <th>
                学期
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SchoolTerm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolYear)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            
            <td>
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
