@page
@model HuiNan2020OneClass.Pages.Classes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GradeClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GradeClass.ClassNuberID" class="control-label"></label>
                <select asp-for="GradeClass.ClassNuberID" class="form-control" asp-items="ViewBag.ClassNuberID"></select>
                <span asp-validation-for="GradeClass.ClassNuberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeClass.GradeID" class="control-label"></label>
                <select asp-for="GradeClass.GradeID" class="form-control" asp-items="ViewBag.GradeID"></select>
                <span asp-validation-for="GradeClass.GradeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeClass.ClassName" class="control-label"></label>
                <input asp-for="GradeClass.ClassName" class="form-control" />
                <span asp-validation-for="GradeClass.ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeClass.EnrollmentYYMM" class="control-label"></label>
                <input asp-for="GradeClass.EnrollmentYYMM" class="form-control" />
                <span asp-validation-for="GradeClass.EnrollmentYYMM" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GradeClass.IsCurrentClass" /> @Html.DisplayNameFor(model => model.GradeClass.IsCurrentClass)
                </label>
            </div>
            <input type="hidden" asp-for="GradeClass.ID" />
            <div class="form-group">
                <label asp-for="GradeClass.CreatTime" class="control-label"></label>
                <input asp-for="GradeClass.CreatTime" class="form-control" />
                <span asp-validation-for="GradeClass.CreatTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeClass.UpdateTime" class="control-label"></label>
                <input asp-for="GradeClass.UpdateTime" class="form-control" />
                <span asp-validation-for="GradeClass.UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeClass.CreatUserName" class="control-label"></label>
                <input asp-for="GradeClass.CreatUserName" class="form-control" />
                <span asp-validation-for="GradeClass.CreatUserName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GradeClass.IsDelete" /> @Html.DisplayNameFor(model => model.GradeClass.IsDelete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
