@page
@model HuiNan2020OneClass.Pages.Schools.Semesters.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Semester</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Semester.SemesterName" class="control-label"></label>
                <input asp-for="Semester.SemesterName" class="form-control" />
                <span asp-validation-for="Semester.SemesterName" class="text-danger"></span>
                <a  class="text-danger">@Model.ErrMsg</a>
            </div>
            <input type="hidden" asp-for="Semester.ID" />
            <input type="hidden" asp-for="Semester.CreatTime" />
            <input type="hidden" asp-for="Semester.IsDelete" />
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
