@page
@model HuiNan2020OneClass.Pages.Exps.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Exp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exp.classAndTermID" class="control-label"></label>
                <select asp-for="Exp.classAndTermID" class="form-control" asp-items="ViewBag.classAndTermID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Exp.ReData" class="control-label"></label>
                <input asp-for="Exp.ReData" class="form-control" />
                <span asp-validation-for="Exp.ReData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp.Rdmark" class="control-label"></label>
                <input asp-for="Exp.Rdmark" class="form-control" />
                <span asp-validation-for="Exp.Rdmark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp.Money" class="control-label"></label>
                <input asp-for="Exp.Money" class="form-control" />
                <span asp-validation-for="Exp.Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp.CategoryID" class="control-label"></label>
                <select asp-for="Exp.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Exp.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exp.JBR" class="control-label"></label>
                <input asp-for="Exp.JBR" class="form-control" />
                <span asp-validation-for="Exp.JBR" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Exp.ID" />
            <input type="hidden" asp-for="Exp.CreatTime" />





            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
